.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.center-container,
.working-hours-container,
.administrators-container {
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
}

.center-header,
.working-hours-header,
.administrators-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.center-title,
.working-hours-title,
.administrators-title {
  font-size: 18px;
  font-weight: bold;
  flex-grow: 1;
}

.edit-icon {
  font-size: 20px;
  cursor: pointer;
  color: #888;
  transition: color 0.3s;
}

.edit-icon.active {
  color: #333;
}

.editable-fields {
  margin-top: 10px;
}

.editable-fields p {
  margin-bottom: 5px;
}

.editable-fields input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.non-editable-fields p {
  margin-bottom: 5px;
}

.working-hours-container .non-editable-fields p {
  margin-bottom: 10px;
}

.administrators-container .administrators-list {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}

.administrators-container .administrators-list li {
  margin-bottom: 5px;
}

.loading-container {
  margin-top: 50px;
  font-size: 18px;
  font-weight: bold;
}
