.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.top-container {
  display: flex;
}

.center-container {
  border: 1px solid #ccc;
  padding: 20px;
  width: 70%; 
  height: 70%;
  margin-right: 20px;
  border-radius: 5%;
  background-color: #f2f2f2; 
  border-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-header {
  margin-bottom: 10px;
}

.title-wrapper {
  display: flex;
  align-items: center;
}

.center-title {
  margin-right: 10px;
}

.field-group {
  margin-bottom: 10px;
}

.field-label {
  font-weight: bold;
}

.working-hours-container {
  border: 1px solid #ccc;
  padding: 20px;
  width: 35%; 
  height: 5%;
  border-radius: 5%;
  background-color: #f2f2f2;
  border-color: black;
  margin-top: 15px;
}

.administrators-container {
  border: 1px solid #ccc;
  padding: 20px;
  width: 15%;
  border-radius: 5%;
  background-color: #f2f2f2;
  border-color: black;
}

.natpis {
  font-size: 10px;
  color: red;
  margin-left: 5px;
}

.working-hours-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.working-hours-title {
  font-weight: bold;
}

.edit-icon {
  font-size: 24px;
}

.working-hours-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.working-hours-title {
  font-weight: bold;
  margin-right: 10px;
}

.edit-icon {
  font-size: 24px;
  cursor: pointer;
}

.editable-fields {
  margin-bottom: 10px;
}

.editable-fields input {
  margin-bottom: 5px;
}

.active {
  color: blue;
}

.center-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.title-wrapper {
  display: flex;
  align-items: center;
}

.center-title {
  margin-right: 10px;
}

.administrators-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.administrators-title {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.administrators-title svg {
  margin-right: 5px;
}

