h1 {
    display: flex;
    align-items: center;
  }
  
  h1 img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .naslov {
    margin-left: 530px;
  }
  
  input[type="datetime-local"] {
    width: 180px;
    height: 30px;
    border-radius: 2px;
    margin-left: 550px;
    margin-top: 40px;
  }
  
  .results-container {
    background-color: #f1f1f1;
    border-radius: 3%;
    border: 1px solid black;
    padding: 20px;
    width: 400px;
    margin-left: 490px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .results-container h2 {
    display: flex;
    align-items: center;
  }
  
  .center-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    flex-grow: 1;
  }
  
  .info-container p {
    margin: 0;
    width: 100%;
  }
  
  .label {
    margin-right: 5px;
    width: 100px;
  }
  